.trending-nfts {
    padding: 108px 0px;
    position: relative;
}

.tn-title {
    font-size: 46px;
    font-weight: 700;
    padding: 24px;
    margin-bottom: 36px;
}

.tn-bg-blob {
    height: 550px;
    width: 550px;
    background-color: var(--bg-blob);
    filter: blur(160.58px);
    position:absolute;
    left: 50%;
    transform: translate(-50%);
}

.tn-btn {
    margin-top: 36px;
}

.seemore-btn {
    font-size: 14px;
}

.grd {
    /* font-size: 55px;
  background: -webkit-linear-gradient(#eee, #333); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}